/* EN LIEN AVEC LE CODE */

.active {
  background-color: rgba(255, 255, 255, 0.244);
}

.hidden {
  display: none;
}

/* STYLE */

body {
  background-color: rgb(126, 138, 171);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: white;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5em;
}

.col-12 {
  grid-column: span 12;
}

.col-9 {
  grid-column: span 9;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

header nav ul li {
  padding: 0.5em;
  list-style-type: none;
  text-align: center;
  font-size: 1.2em;
  border: solid 1px white;
  border-radius: 30px;
}

header nav ul a:link,
header nav ul a:visited {
  color: white;
  text-decoration: none;
}

.banner {
  background: url("../assets/img/php-development.png");
  height: auto;
  padding: 7.5%;
  background-size: cover;
  background-position: center;
}

.liens {
  background-color: rgb(86, 101, 145);
}

header div {
  height: 50em;
}

H1 {
  font-size: 2em;
  text-align: center;
  padding-top: 3em;
  font-weight: bold;
}

.containerContact {
  display: flex;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 2em;
  justify-content: center;
}

.formContact {
  text-align: center;
  width: 20em;
}

.flexInput {
  display: flex;
  justify-content: center;
  margin: 1em;
  flex-direction: column;
}

.messageInput {
  padding-top: 1em;
}

input,
textarea {
  border-radius: 10px;
  padding: 1em;
}

.bouton {
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;
}

footer,
.text {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

figure {
  margin-top: 3em;
  text-align: center;
}

.imgAccueil {
  width: 65%;
  margin: 0;
  border-radius: 30px;
}

.imgUser {
  width: 5%;
  margin: 0;
}

footer {
  font-size: 1em;
}

.pageRedirect,
.pageRedirect:link,
.pageRedirect:visited {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1.1em;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.pageRedirect:hover {
  color: black;
}

.profilInfo {
  background-color: aliceblue;
  color: black;
  border-radius: 10px;
  font-size: 1.1em;
  padding: 2em;
  margin-bottom: 1em;
}

.profilInfo > p {
  padding: 0.5em;
}

.profilInfo > p:nth-child(even) {
  font-weight: bold;
}

.profilInfo > p:nth-child(3) {
  padding-top: 1.5em;
}
