/* EN LIEN AVEC LE CODE */

.active {
  background-color: rgba(255, 255, 255, 0.244);
  color: black;
}

.hidden {
  display: none;
}

/* STYLE */

body {
  background-color: rgb(126, 138, 171);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: white;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5em;
}

.col-12 {
  grid-column: span 12;
}

.col-9 {
  grid-column: span 9;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

header nav ul li {
  padding: 0.5em;
  list-style-type: none;
  text-align: center;
  font-size: 1.8em;
  border: solid 1px white;
  border-radius: 30px;
}

header nav ul a:link,
header nav ul a:visited {
  color: white;
  text-decoration: none;
}

.banner {
  background: url("../assets/img/php-development.png");
  height: auto;
  padding: 7.5%;
  background-size: cover;
  background-position: center;
}

.liens {
  background-color: rgb(86, 101, 145);
}

header div {
  height: 50em;
}

H1 {
  font-size: 2em;
  text-align: center;
  padding-top: 3em;
}

.containerContact {
  display: flex;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 2em;
  justify-content: center;
}

.formContact {
  text-align: center;
  width: 20em;
}

.flexInput {
  display: flex;
  justify-content: center;
  margin: 1em;
  flex-direction: column;
}

.messageInput {
  padding-top: 1em;
}

input,
textarea {
  border-radius: 10px;
  padding: 1em;
}

.bouton {
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;
}

footer {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

/* .col-12,
.col-6,
.col-4,
.col-3,
.col-2,
.col-1 {
  position: relative;
}

figure {
  width: 100%;
  margin: 0;
}

figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#logo {
  width: 20%;
  margin: auto;
}

nav ul {
  padding: 0;
}

article {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.492);
  border-width: 0px 1px 0px 1px;
  border: black solid 1px;
}

h1 {
  padding-left: 1em;
  font-size: 3em;
  text-shadow: rgba(0, 0, 0, 0.436) 1px 0 10px;
}

iframe {
  width: 100%;
}

footer {
  padding: 1em;
  text-align: center;
}

li a:link,
li a:visited {
  color: white;
  text-decoration: none;
}

li a:hover {
  animation-name: nav;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes nav {
  0% {
    color: white;
  }

  50% {
    color: rgb(255, 191, 72);
  }

  100% {
    color: white;
  }
}

#latest {
  animation-name: latest;
  animation: example 1s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes latest {
  0% {
    color: white;
  }

  50% {
    color: rgb(255, 191, 72);
  }

  100% {
    color: white;
  }
} */
